@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
 * {
  padding: 0;
  margin: 0;
}


body,
html {
  min-width: 100%;
  width: 100%;
  background: #f9f9f9;
  font-family: "Montserrat", sans-serif !important;
}

.navbar {
  margin-bottom: 10px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navbar li {
    float: right;
    margin-bottom: 0;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* .navbar li a:hover:not(.active) {
    background-color: #111;
} */

.navbar li a:hover {
    background-color: #111;
}

.navbar .active {
    background-color: #3558db;
}
