<!doctype html>
<html>

<head>
  <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}"/>

  <title>{% block title %}{% endblock %}CD Type</title>
  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='materialize.min.css') }}"> -->
  <!-- <script src="{{ url_for('static', filename='materialize.min.js') }}"></script> -->
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='typestyle.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-124608227-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-124608227-1');
  </script>
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script> -->
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->
</head>

<body>
<!-- {{ mailid }} -->
<span class='navbar'>
  <ul>
    <li><a href="/">Home</a></li>
    {% if session['user_mail'] %}
      <li><a href="/logout">Logout</a></li>
      <li><a href="/profile">Profile</a></li>
    {% else %}
      <li><a href="/login">Login</a></li>
      <li><a href="/signup">Sign Up</a></li>
    {% endif %}
    <li style="float:right"><a class="active" href="https://goo.gl/forms/a705K21MSrfygZ3o2" target="_blank">Submit Text</a></li>
  </ul>
</span>
  <section class="content">
    <header>
      {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
  </section>
</body>
