{% extends 'base.html' %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='input.css') }}">

<!-- <h3>Using CSS to style an HTML Form</h3> -->

<div class="formwrapper">
  {% if text %}
    {% if success %}
      Account created successfully, please login through the mail you have received.
      If you did not get a mail, please click on Login.
    {% elif duplicate %}
      Account already exists. Please login instead.
    {% endif %}
  {% else %}
    <form action="/signup" method="post">
      <label for="fname">Name</label>
      <input type="text" id="name" name="name" placeholder="Your name" required>

      <label for="email">Email Address</label>
      <input type="email" id="email" name="email" placeholder="Your email id" required>

      <label for="dept">Team</label>
      <select id="team" name="team" required>
        <option value="Tech">Tech</option>
        <option value="Content">Content</option>
        <option value="Client">Client</option>
        <option value="Sales">Sales</option>
        <option value="Mail">Mail</option>
        <option value="Mobile">Mobile</option>
        <option value="Admin">Admin</option>
        <option value="Operations">Operations</option>
        <option value="Product">Product</option>
        <option value="Graphic">Graphic</option>
        <option value="SEO">SEO</option>
        <option value="HR">HR</option>
        <option value="Data">Data</option>
        <option value="Affiliate">Affiliate</option>
      </select>
      {% if error %}
        <section class="error">An error occured! Sorry!</section>
      {% endif %}
      <input type="submit" value="Submit">
    </form>
  {% endif %}

</div>


{% endblock %}
